@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --main-bg-color: #da392b;
}

html {
  background: #f6f4f0;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Ubuntu", sans-serif;
  /* height: 500vh; */
  overflow-x: hidden;
}
.header {
  display: flex;
  z-index: 99;
  position: fixed;
  width: 100%;
}
.header_section:nth-child(1) {
  flex: 1;
}
.header_section:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header .header_logo {
  display: table;
  width: 165px;
  height: 60px;
  background: var(--main-bg-color);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 100px;
}

.header .header_logo span {
  display: table-cell;
  vertical-align: middle;
}
.header .header_menu {
  width: 550px;
  height: 60px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  background: #ffffff;
}
.header .header_menu .header_menu_btn {
  font-weight: 600;
  width: 99%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_menu .header_menu_btn.active {
  background: var(--main-bg-color);
  color: white;
}
.header .header_menu .header_menu_btn:first-child.active {
  border-bottom-left-radius: 10px;
}
.header .header_menu .header_menu_btn:last-child.active {
  border-bottom-right-radius: 10px;
}
.main-section {
  /* position: relative; */
}
.main-bg-sc {
  /* position: relative; */
  width: 100vw;
  height: 800px;
  overflow-x: hidden;
}
.main-bg-sc .main-bg {
  width: 100%;
  height: 100%;
  background: url("/img/game-background.jpg") 0 center / 145% 100% repeat-x;
  /* background-position: -10% center; */
}

.box-area {
  position: relative;
  bottom: 200px;
  width: 100vw;
  height: 425px;
  display: flex;
  justify-content: center;
}
.box-area .box-list {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9;
}
.box-area .box-list .section-box {
  position: relative;
  height: 100%;
  width: 22.5%;
  overflow: hidden;
  border-radius: 25px;
  background: #75c4ff;
}

.box-area .box-list .section-box a .hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(189, 202, 19, 0.599) 45%,
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
  transition: opacity 0.5s linear;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.box-area .box-list .section-box a .hover-box:hover {
  opacity: 0;
}
.box-area .box-list .section-box a .hover-box span {
  color: white;
  z-index: 1;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 0 30px 30px;
  line-height: 1.5;
}

.box-area .box-list .section-box a > img {
  width: 100%;
  height: 100%;

  transition: all 0.8s cubic-bezier(0.001, 0, 0, 0.22);
}
.box-area .box-list .section-box:hover a > img,
.box-area .box-list .section-box:hover a > .all-box {
  transform: scale(1.2);
}
/* .box-area .box-list .section-box:hover a .hover-box {
  background: transparent;
} */
.box-area .box-list .section-box a > .all-box {
  width: 100%;
  height: 100%;
  background: #75c4ff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 1.8rem;
  transition: all 0.8s cubic-bezier(0.001, 0, 0, 0.22);
}

/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
.enter-section {
  width: 100vw;
  text-align: center;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enter-section .enter-text {
  width: 45%;
}
.enter-section .enter-text h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 25px;
}
.enter-section .enter-text h1 {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 45px;
}
.enter-section .enter-text p {
  font-size: 18px;
  font-weight: 600;
  word-break: keep-all;
  line-height: 1.5;
}

.enter-section .enter-text span {
  display: inline-block;
  width: 142px;
  height: 60px;
  /* border: 1px solid var(--main-bg-color); */
  background: var(--main-bg-color);
  border-radius: 10px;
  margin: 50px 0;
  transition: all 0.3s linear;
  color: #ffffff;
  box-sizing: border-box;
}
.enter-section .enter-text span:hover {
  color: black;
  border: 1px solid black;
  background: none;
}

.enter-section .enter-text span > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 3.65;
  font-size: 1em;
  font-weight: 600;
}
.enter-section .enter-intro-img {
  width: 700px;
  height: 400px;
  position: relative;
  background: url("https://static.wixstatic.com/media/c837a6_6f124abbb84f4fceb066cb0cd5eb9e51~mv2.jpg/v1/crop/x_546,y_100,w_2248,h_1281/fill/w_698,h_397,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/shutterstock_1535881442_edited.jpg");
  border-radius: 30px;
  transition: all 1s;
}

.enter-section .enter-intro-img .intro-img-hover {
  position: absolute;
  width: 700px;
  height: 400px;
  background: linear-gradient(
      to top,
      rgba(166, 176, 22, 0.238) 100%,
      rgba(255, 255, 255, 0)
    ),
    url("https://static.wixstatic.com/media/c837a6_6f124abbb84f4fceb066cb0cd5eb9e51~mv2.jpg/v1/crop/x_546,y_100,w_2248,h_1281/fill/w_698,h_397,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/shutterstock_1535881442_edited.jpg");
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.enter-section .enter-intro-img:hover .intro-img-hover {
  opacity: 1;
}

.enter-section .enter-intro-img .intro-work-cha {
  position: absolute;
  bottom: 0;
  left: -12%;
  bottom: -10%;
  z-index: 3;
}

.game-intro {
  width: 100vw;
  text-align: center;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-intro .game-intro-text {
  width: 45%;
}
.game-intro .game-intro-text h1 {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 45px;
}

.game-intro .game-intro-text p {
  font-size: 18px;
  font-weight: 600;
  word-break: keep-all;
  line-height: 1.5;
}
.game-intro .game-intro-block {
  width: 100vw;
  height: 1000px;
  margin-top: 110px;
  position: relative;
}
.game-intro .game-intro-block .game-intro-back {
  width: 100%;
  height: 100%;
  background: url("/img/plant.png") no-repeat;
  background-position: center bottom 0;
  opacity: 0.1245;
}
.game-intro .game-intro-block .intro-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.game-intro .game-intro-block .intro-section .intro-block {
  position: absolute;
  width: 390px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 7.07px 7.07px 10px 0px rgba(237, 75, 64, 0.19);
  background-color: white;
}
.game-intro .game-intro-block .intro-block:first-child {
  top: 0;
  left: 15em;
}
.game-intro .game-intro-block .intro-block:nth-child(2) {
  top: 0;
  right: 15em;
}
.game-intro .game-intro-block .intro-block:nth-child(3) {
  bottom: -150px;
  left: 15em;
}
.game-intro .game-intro-block .intro-block:last-child {
  bottom: -150px;
  right: 15em;
}
.game-intro .game-intro-block .intro-block {
  box-sizing: border-box;
  padding: 48px;
}
.game-intro .game-intro-block .intro-block .intro-title-area {
  display: flex;
  text-align: left;
}
.game-intro .game-intro-block .intro-block .intro-title-area img {
  width: 85px;
  height: 85px;
  border-radius: 30px;
  margin-right: 30px;
  border: 5px solid white;
  box-shadow: 7.07px 7.07px 10px 0px rgba(237, 75, 64, 0.2);
}
.game-intro .game-intro-block .intro-block .intro-title-area > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-intro .game-intro-block .intro-block .intro-title-area > div > h2 {
  font-size: 1.5rem;
  font-weight: 900;
}
.game-intro .game-intro-block .intro-block .intro-title-area > div > p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.game-intro .game-intro-block .intro-block .intro-content-area {
  margin-top: 40px;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6em;
  font-weight: 600;
  word-break: break-all;
}
.game-intro .game-intro-block .intro-block .intro-button-area {
  margin-top: 20px;
}

.game-intro .game-intro-block .intro-block .intro-button-area span:first-child {
  margin-right: 30px;
}
